<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tut-Tut About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- css sheet -->
    <link rel="stylesheet" href="css/aboutUs.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico" />
  </head>
  <body>
    <nav class="navbar main-nav navbar-expand-lg navbar-light bg-light fixed-top">
      <a href="/">
      <img src="images/train-logo.png" alt="" height="105" width="140" class="logo">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link" href="/becomeATutor">Become a Tutor</a>
          </li>
          <li>
            <a class="custom-dbox-popup nav-link" href="https://donorbox.org/tut-tut?hide_donation_meter=true">Donate</a>
          </li>
          <li class="nav-item mid-button">
            <a class="nav-link" href="/aboutUs">About</a>
          </li>
          <li>
            <a class="nav-link navbar-custom" href="/login">Login</a>
          </li>
          <li class="nav-item right-button ">
            <form action="/signup">
              <button type="submit" class="btn btn-primary shadow">Sign Up</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="parallax">
      <h1 class="tutTutHead">Our Mission</h1>
      <hr class="missionHr">
      <h1 class="missionStatement">Tut-Tut is a non-profit organization <br> that strives to create strength in our community <br> by providing tutoring to K-5th graders.</h1>
    </div>


    <section id="testimonials">

      <h1 class="meetTutors"><b>Meet our Tutors</b></h1>
      <hr class="missionHr2">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="testimonial-text">Avery Leonard is a sophomore at Aspen High school in Aspen Colorado.  She loves to play tennis, volleyball, and ski! When she isn’t playing a sport she is working on her blog, The Bench and spending time with her family and friends! She loves kids and is excited to be helping out during these stressful times of online learning!</h2>
            <img class="testimonial-image" src="images/Avery.jpeg" alt="profile">
            <em>Avery Leonard, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Bliss Hemstreet lives in Colorado and is a sophomore at Aspen High School. Bliss is on the volleyball and tennis teams and loves to ski. She is an honor roll student and is the co founder of “The Bench” a lifestyle blog. Bliss has years of experience assisting her two younger siblings with their school work and is excited to help other young students! </h2>
            <img class="testimonial-image" src="images/Bliss.jpeg" alt="profile">
            <em>Bliss Hemstreet, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Kaitlyn Tran is from Carlsbad California, and is a sophomore at San Marcos High school. She’s passionate about helping others and loves talking to new people. She’s a consistent honor roll student, with a 4.0GPA who is excited to make learning fun for kids. On her spare time, Kaitlyn would dance, bake, or spend time with friends and family. She’s excited to share her tips and tricks with everyone and determined to do her best at helping all who ask!</h2>
            <img class="testimonial-image" src="images/Kaitlyn.jpeg" alt="profile">
            <em>Kaitlyn Tran, Tutor</em>
          </div>


          <div class="carousel-item">
            <h2 class="testimonial-text">Rachel Ross is a sophomore at San Marcos High School. In her free time, she loves to surf, swim and hang out with friends. She is an honor roll student who enjoys challenging herself by taking AP and honors courses. Math and Science are among her favorite subjects but she enjoys learning about them all. She loves helping kids develop the same passion for academics that she has.</h2>
            <img class="testimonial-image" src="images/Rachel.jpeg" alt="profile">
            <em>Rachel Ross, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Jolie Lauer attends Pacific Ridge School and lives in Encinitas, California. Outside of taking many APs and Honors courses, she plays volleyball, both indoor and beach. She enjoys hanging out with her family and going on adventures with her friends. She has always had a knack for teaching young kids in various topics while keeping a smile on her face and being open to any questions.</h2>
            <img class="testimonial-image" src="images/Jolie.jpeg" alt="profile">
            <em>Jolie Lauer, Tutor</em>
          </div>



          <div class="carousel-item">
            <h2 class="testimonial-text">Cassiella Brown is a sophomore at Pacific Ridge School in Carlsbad, California. In her free time, she enjoys playing club soccer, hanging out with her friends, and surfing. Cassiella speaks fluent Spanish and is also taking French at school. Cassiella is looking forward to helping kids with anything they need.</h2>
            <img class="testimonial-image" src="images/Cassie.jpeg" alt="profile">
            <em>Cassiella Brown, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Sarah Pack is a sophomore at San Marcos High School in San Marcos, California. As well as being an avid student who loves to learn and teach, Sarah also enjoys playing tennis and swimming for the school teams. In her free time, she loves to go to the beach, explore nature, and even ski. Both her parents were teachers and she grew up in an environment that encouraged her to love to learn, which she believes is an important aspect to promote for everyone.</h2>
            <img class="testimonial-image" src="images/Sarah.jpg" alt="profile">
            <em>Sarah Pack, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Jane Grumann is a sophomore at San Marcos High in San Marcos, CA. Jane is involved in ASB and American Red Cross Club at school as well as being on both the soccer and lacrosse teams. She is an honor roll student who loves to do art, play sports and go surfing in her free time. Online school and even hybrid school is a hard and stressful time, but Jane is eager and ready to help!</h2>
            <img class="testimonial-image" src="images/Jane.jpeg" alt="profile">
            <em>Jane Grumann, Tutor</em>
          </div>


         <div class="carousel-item">
           <h2 class="testimonial-text">Rafay Maker-Agha is a sophomore at Pacific Ridge School in Carlsbad California. He enjoys spending time outdoors, horseback riding, and helping within the community. Rafay also partakes in honors classes along with clubs and service learnings. He is a diligent student and always enjoys helping others to learn and succeed!</h2>
           <img class="testimonial-image" src="images/Rafay.jpg" alt="profile">
           <em>Rafay Maker-Agha, Tutor</em>
         </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Danielle Henderson is a sophomore at San Marcos High School. While continuing to be an honor student, she is also a member of the JV Dance Team at SMHS. Danielle is also a part of various clubs including Black Student Union, Sierra Club and Key Club. In her spare time, she loves to draw, listen to music, paint, go on a run, and dance.</h2>
            <img class="testimonial-image" src="images/Danya.jpeg" alt="profile">
            <em>Danielle Henderson, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Monica Lozada is a sophomore at San Marcos High School in San Marcos, California. When she is not studying to keep her straights A's she is hanging out with friends or playing online games. At school she is a member of the marching band, concert band, the swim team, and many clubs. She loves to go out to play some sports as well as visit different places to try different foods. She has always tried to help those around her, making tutoring really enjoyable for her.</h2>
            <img class="testimonial-image" src="images/Monica.PNG" alt="profile">
            <em>Monica Lozada, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Sanchitha Tippur is a sophomore at San Marcos High School in San Marcos, California. Sanchitha has over a 4.0 GPA throughout both of her years in high school and plays field hockey, tennis, and does Bollywood dance. Sanchitha is also apart of a non-profit organization called SDNari that helps women in South Asian countries, along with letting younger girls shine. Sanchitha has always enjoyed working with younger kids and works at a tutoring company called Downtown Academics.</h2>
            <img class="testimonial-image" src="images/Sanchitha.jpg" alt="profile">
            <em>Sanchitha Tippur, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Shree Mehta is a current sophomore at San Marcos High School, in San Marcos California. Shree has always been passionate with helping and spending time with children, from being a Camp Counselor in training at Ymca, to babysitting + tutoring kids. Shree’s main passion is soccer, playing on the High school team, along with painting, biking, traveling and spending time with friends and family.</h2>
            <img class="testimonial-image" src="images/Shree.jpeg" alt="profile">
            <em>Shree Mehta, Tutor</em>
          </div>

          <div class="carousel-item">
            <h2 class="testimonial-text">Zara Wasserman is a sophomore at San Marcos High School in San Marcos, California. As an Honor Roll student-athlete, Zara has been able to balance multiple AP classes, clubs, volunteering, and Softball. In her free time you will find her at the beach, hanging out with friends, and especially on the field. She enjoys helping others and is always up for a challenge.</h2>
            <img class="testimonial-image" src="images/Zara.JPG" alt="profile">
            <em>Zara Wasserman, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Diego Gonzalez is a Junior at San Marcos High School, California. While he is a well rounded student, he spends quality time being part of the D1 Varsity Cross Country and Track and Field team, as well as former JV Soccer player. Diego is also part of the Simon Scholar program that focuses on future growth and college readiness. Being part of the National Honors Society is also one of his best honors because he has the privilege to help his community from food bank drive throughs to local tutoring. Ever since high school he pushes to become a better version of himself while helping those around him.</h2>
            <img class="testimonial-image" src="images/Diego.jpeg" alt="profile">
            <em>Diego Gonzalez, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Emma Wong is a junior at San Marcos High School in San Marcos, California. Outside of school, she participates in the Royal Conservatory of Music's piano program. She will be taking the Level 9 exam this summer. Her hobbies include reading, writing fiction stories, and spending time with her friends and family. </h2>
            <img class="testimonial-image" src="images/EmmaW.jpg" alt="profile">
            <em>Emma Wong, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Lily Beyerlein is a junior at San Marcos High School in San Marcos, California. She is an honor roll student and has been cheering for the SMHS cheerleading team since her freshman year. She is passionate about equality and the environment and in her free time enjoys thrifting, reading, and spending time with friends and family. She is excited to begin tutoring because she loves helping others achieve!</h2>
            <img class="testimonial-image" src="images/Lily.jpeg" alt="profile">
            <em>Lily Beyerlein, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Arlynn Gonzalez is a sophomore at San Marcos High School in San Marcos, California. She likes to challenge herself by taking Honors and AP classes. She is also part of several clubs. In her free time she likes spending time with her dog, family, and catching up with friends. Some of her hobbies include reading, drawing/painting, and going for runs. Helping others is something that she has always enjoyed doing.</h2>
            <img class="testimonial-image" src="images/Arlynn.jpeg" alt="profile">
            <em>Arlynn Gonzalez, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Ella Rodgers is a junior at San Marcos High School in San Marcos, California. She is a varsity Soccer and Field Hockey Player and also plays club soccer at San Diego Surf. Ella is an honor roll student and a member of the National Honors society. She hopes to play Soccer or Field Hockey at the collegiate level. </h2>
            <img class="testimonial-image" src="images/Ella.JPEG" alt="profile">
            <em>Ella Rodgers, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Sydney O'Shea is a sophomore at Pacific Ridge School in Carlsbad, California. Along with being the vice president of Feminist United and an active participent in all of her classes, Sydney is also passionate about gymnastics and is a part of the competitive team at Coastal. In her free time Sydney enjoys spending time with her three younger sisters, listening to podcast, taking walks, and playing with her dogs. Sydney has always been super passionate about learning and wants to spread her love throughout the community. </h2>
            <em>Sydney O'Shea, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Mia Campanella is a sophomore at San Marcos High School in San Marcos, California. Outside of her AP and honor classes, she enjoys playing the guitar and running. In her free time, Mia likes spending time with family and friends, reading a book, and completing crafts. </h2>
            <em>Mia Campanella, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">My name is Quinn Patterson and I live in Carlsbad, California. I am going to be a Junior at Pacific Ridge high school next year. I’m pretty good at math and explaining concepts to my peers. In my free time, I like to play bass guitar, surf and play video games.  </h2>
            <em>Quinn Patterson, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Angela Rico is a sophomore at San Marcos High School in San Marcos, California. She is a passionate ASB Leader, and an honor roll student. In her free time, she loves reading, spending time with family and friends, and listening to music. Additionally, when she grows up Angela aspires to be a college professor, so naturally education and tutoring is extremely enjoyable to her. She was a tutor for two years in her elementary school program and also has tutored on the side during middle and high school.</h2>
            <em>Angela Rico, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Carlos Hernandez is a Junior at San Marcos High School in San Marcos, California. He strives for academic excellence and this is reflected through his honor roll status for his entire time at San Marcos High School. Carlos is passionate about physical fitness and loves to workout and run in his free time. Carlos also enjoys volunteering and helping those in need.</h2>
            <em>Carlos Hernandez, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Tyler Mandel is a high school sophomore who lives in San Marcos and attends San Marcos High School. Tyler has a passion for learning. Along with being an silver honor roll student, he has also been tutoring since the 8th grade. When in school, he is always collaborating with his friends and classmates, finding new ways to solve problems, and going above and beyond to succeed.</h2>
            <img class="testimonial-image" src="images/ty_mandel.jpeg" alt="profile">
            <em>Tyler Mandel, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Salma Lopez Barron is a senior at San Marcos High School in San Marcos, California. Along with being an Honor Roll student, she enjoys running and has been part of the cross country team. In her free time Salma enjoys listening to music, going on walks with her dog, spending time with friends, and occasionally watching streams. Salma enjoys tutoring and has experience tutoring her younger sibling.</h2>
            <img class="testimonial-image" src="images/salma_lop.jpg" alt="profile">
            <em>Salma Lopez Barron, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Erin Duffel is a junior at San Marcos High School in San Marcos, California. Erin is an honor roll student who is a part of the National Honors Society. Erin strives in reading, writing, and math. Erin’s favorite subject is English. Apart from her academics, Erin enjoys to volunteer at her church’s religious education classes as well as the local animal shelter. In her free time, Erin likes to draw, bake, exercise, and spend time with her puppy. Erin is looking forward to helping both you and your child!</h2>
            <img class="testimonial-image" src="images/erin_duffel.jpg" alt="profile">
            <em>Erin Duffel, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Darya Forutanpour is a sophomore at San Marcos High School in San Marcos California. She is an ASB student who loves to help and give back to the community. In her free time Darya enjoys spending time with her friends and family and enjoys long walks on the beach. She also enjoys going on her daily runs around her neighborhood listening to her favorite songs. Darya is passionate to be mentoring since she wishes to be a teacher in the near future. </h2>
            <em>Darya Forutanpour, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Pallav Achar is a freshman at San Marcos High School in San Marcos, California. He has received many awards for his academic excellence, such as being an honor role student, getting the presidential award, and made it into John Hopkins' Center for Talented Youth. Pallav also has experience in foreign languages such as Spanish, and is on the accelerated pathway for math and English. He also is passionate about basketball and plays competitively for both the school and a club team. Pallav has always enjoyed tutoring and being around kids.</h2>
            <img class="testimonial-image" src="images/pavlav.jpg" alt="profile">
            <em>Pallav Achar, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Olivia Garber is a sophomore at San Marcos High School in San Marcos, California. Olivia is a member of CSF and is an A student. On the weekends, she enjoys walking on the beach and hanging out with friends. She also has fun baking and cooking for her family. Olivia has loved teaching since she was young and babysits kids on the weekends.</h2>
            <img class="testimonial-image" src="images/olvia_garber.jpg" alt="profile">
            <em>Olivia Garber, Tutor</em>
          </div>



          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

      </div>

    </section>


    <div class="chalkboard">
      <p class="contact">Our Founders</p>
    </div>

    <div class="founders">
      <ul class="founderList">
        <li class="founderListItem"><img class="founderImg" src="images/bryce.JPG"><p class="founderName"><b>Bryce Hamlet</b></p></li>
        <li class="founderListItem"><img class="founderImg" src="images/tannen-founder.jpg"><p class="founderName"><b>Tannen Hall</b></p></li>
        <li class="founderListItem"><img class="founderImg" src="images/brianne.jpeg"><p class="founderName"><b>Brianne Zevely</b></p></li>
      </ul>
      <div class="founderReasonDiv">
        <p class="founderReasonText">From the instant Covid-19 stay-at-home orders began, Tannen, Bryce and Brianne began searching for a way to help the countless number of elementary age school children who were falling behind academically. Families were struggling to cope with remote learning while trying to work full-time, and others were struggling with being unfamiliar with the curriculum. They knew something had to be done.</p>
        <p class="founderReasonText">In California, over 44% of families speak languages other than English at home, and in 61% both parents work full-time.  Without outside help, the majority of kids were falling behind due to the COVID-19 pandemic. </p>
        <p class="founderReasonText">We are committed to creating strength in our community with Tut-Tut.org - a non-profit organization that provides free tutoring for K-5th graders.  Tut-Tut.org is a website that connects elementary age children with qualified high school tutors that have volunteered their time to help kids stay caught up on their education.</p>
      </div>
  </div>

    <div class="footer">
      <p class="footerText">Contact us at: <br> Support@tut-tut.org</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>

    $(".meetTutorButton").click(function() {
  $([document.documentElement, document.body]).animate({
      scrollTop: $(".whatIsParagraph").offset().top
  }, 1000);
});
    </script>

  </body>

</html>
