<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tut-Tut About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!-- css sheet -->
    <link rel="stylesheet" href="css/aboutUs.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico" />
  </head>
  <body>
    <nav class="navbar main-nav navbar-expand-lg navbar-light bg-light fixed-top">
      <a href="/">
      <img src="images/train-logo.png" alt="" height="105" width="140" class="logo">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link" href="/notAcceptingTutors">Become a Tutor</a>
          </li>
          <li class="nav-item mid-button">
            <a class="nav-link" href="/aboutUs">About</a>
          </li>
          <li>
            <a class="nav-link navbar-custom" href="/login">Login</a>
          </li>
          <li class="nav-item right-button ">
            <form action="/signup">
              <button type="submit" class="btn btn-primary shadow">Sign Up</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="parallax">
      <h1 class="tutTutHead">Our Mission</h1>
      <hr class="missionHr">
      <h1 class="missionStatement">Tut-Tut is a non-profit organization <br> that strives to create strength in our community <br> by providing tutoring to K-5th graders for families in need.</h1>
    </div>


    <section id="testimonials">

      <h1 class="meetTutors"><b>Meet our Tutors</b></h1>
      <hr class="missionHr2">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="testimonial-text">Avery Leonard is a sophomore at Aspen High school in Aspen Colorado.  She loves to play tennis volleyball and ski! When she isn’t playing a sport she is working on her blog, The Bench and spending time with her family and friends! She loves kids and is excited to be helping out during these stressful times of online learning!</h2>
            <img class="testimonial-image" src="images/Avery.jpeg" alt="dog-profile">
            <em>Avery Leonard, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Brianne Zevely is a sophomore at San Marcos High School in San Marcos, California.  Along with being an honor roll student, she is also passionate about volleyball. In 2019, Brianne helped her team win a Division 1 CIF Championship. In her free time Brianne enjoys spending time with family and friends, waterskiing, and reading a good book. Since her elementary school years, Brianne has always enjoyed tutoring and mentoring younger students.</h2>
            <img class="testimonial-image" src="images/brianne.jpeg" alt="dog-profile">
            <em>Brianne Zevely, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Bliss Hemstreet lives in Colorado and is a sophomore at Aspen High School. Bliss is on the volleyball and tennis teams and loves to ski. She is an honor roll student and is the co founder of “The Bench” a lifestyle blog. Bliss has years of experience assisting her two younger siblings with their school work and is excited to help other young students! </h2>
            <img class="testimonial-image" src="images/Bliss.jpeg" alt="dog-profile">
            <em>Bliss Hemstreet, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Rachel Ross is a sophomore at San Marcos High School. In her free time, she loves to surf, swim and hang out with friends. She is an honor roll student who enjoys challenging herself by taking AP and honors courses. Math and Science are among her favorite subjects but she enjoys learning about them all. She loves helping kids develop the same passion for academics that she has.</h2>
            <img class="testimonial-image" src="images/Rachel.jpeg" alt="dog-profile">
            <em>Rachel Ross, Tutor</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">Jane Grumann is a Sophomore at San Marcos High in San Marcos, CA. Jane is involved in ASB and American Red Cross Club at school as well as being on both the soccer and lacrosse teams. She is an honor roll student who loves to do art, play sports and go surfing in her free time. Online school and even hybrid school is a hard and stressful time, but Jane is eager and ready to help!</h2>
            <img class="testimonial-image" src="images/Jane.jpeg" alt="dog-profile">
            <em>Jane Grumann, Tutor</em>
          </div>


          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>

    </section>


    <div class="chalkboard">
      <p class="contact">Our Founders</p>
    </div>

    <div class="founders">
      <ul class="founderList">
        <li class="founderListItem"><img class="founderImg" src="images/tannen-founder.jpg"><p class="founderName"><b>Tannen Hall</b></p></li>
        <li class="founderListItem"><img class="founderImg" src="images/bryce.jpg"><p class="founderName"><b>Bryce Hamlet</b></p></li>
        <li class="founderListItem"><img class="founderImg" src="images/brianne.jpeg"><p class="founderName"><b>Brianne Zevely</b></p></li>
      </ul>
      <div class="founderReasonDiv">
        <p class="founderReasonText">From the instant Covid-19 stay-at-home orders began, Tannen, Bryce and Brianne began searching for a way to help the countless number of elementary age school children who were falling behind academically. They knew something had to be done, as families were struggling to cope with remote learning while working or not being familiar with the curriculum. </p>
        <p class="founderReasonText">In California, over 44% speak languages other than English at home, and in 61% of families both parents work full-time.  Without outside help, the majority of kids will fall behind due to the Covid-19 Pandemic. </p>
        <p class="founderReasonText">We are committed to creating strength in our community with Tut-Tut.org - a non-profit organization that provides free tutoring for K-5th graders.  Tut-Tut.org is a website that connects elementary age children with qualified high school tutors that have volunteered their time to help kids stay caught up on their education during the Pandemic.</p>
      </div>
    </div>

    <div class="footer">
      <p class="footerText">Contact us at: <br> Support@tut-tut.org</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>

    $(".meetTutorButton").click(function() {
  $([document.documentElement, document.body]).animate({
      scrollTop: $(".whatIsParagraph").offset().top
  }, 1000);
});
    </script>

  </body>

</html>
