<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <!-- css sheet -->
    <link rel="stylesheet" href="css/aboutUs.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <img src="images/Logo.png" alt="" height="80" width="80" class="logo">
      <a class="navbar-brand" href="#">Tut-Tut</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item left-button">
            <a class="nav-link" href="">Contact Us</a>
          </li>
          <li class="nav-item mid-button">
            <a class="nav-link" href="">About our Tutors</a>
          </li>
          <li>
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item right-button ">
            <form action="/signup">
              <button type="submit" class="btn btn-primary shadow">Sign Up</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="parallax">
      <h1 class="tutTutHead">Tut-Tut</h1>
      <h1 class="missionStatement">Our goal is to offer completely free tutoring to <br> help your child achieve success</h1>
      <button type="button" class="btn btn-outline-light btn-lg signupButtonHeader">Meet our tutors</button>
    </div>

    <div class="whatIsTut-Tut">
      <h1 class="whatIsText">What is Tut-Tut?</h1>
      <p class="whatIsParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet enim tortor at auctor urna nunc. Orci eu lobortis elementum nibh tellus molestie. Rhoncus mattis rhoncus urna neque. Nec nam aliquam sem et. Eget egestas purus viverra accumsan in. Neque convallis a cras semper auctor neque vitae tempus. Aliquam id diam maecenas ultricies mi eget mauris. Blandit libero volutpat sed cras ornare arcu dui vivamus. Dictum at tempor commodo ullamcorper. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Pulvinar sapien et ligula ullamcorper. </p>
    </div>

    <div class="chalkboard">
      <p class="contact">contact us: <br> support@tut-tut.org</p>
    </div>

    <section id="testimonials">

      <h1 class="meetTutors">Meet our tutors:</h1>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="testimonial-text">I am a 9th grade student at Pacific Ridge School. I love to learn, and to help teach others my knowledge!</h2>
            <img class="testimonial-image" src="https://lh3.googleusercontent.com/XY_-Piziu-zSGBKdyd8zdKJlAi9apiRkEqd4B_mXu1_QpsLUGShpPKMenEQombQAYpN2Gav2lvXIS9UFjntGCQ8bzHW93VA6S7HD7qYF2zyfA7G5KdkuAYYow2QY8V7Lxgpti97ksAFrx0-HvxQFRLLm43PUXgpL6gB9aQlh2we5ydjLBMBpihVPhKgxDpg1TFBESn-9OBHbrTJ6j0gflx8QoiKOJiZCONnoxTRtWmI9_V59c7FoWGlE384uFz1up_1leN-wBv0KTRmC8ctHV0NuvXzEYaVuWCO5dk66NJ3Bv-DrQr7jeLTPPf1v9qF3NB5vIkJGsy04ZJ4dxNaYA4ZGn2d552d4UnXEsif1ybsey8ANZ7N_EETQ6CDLhATAsdUmplJoiYpOmjbMUGt6h2DJv3Hdj2GV4SFAey3bL3Rzj5Rbu-0J3ojuGzHVp_5DYhKw9B8JY5GZypmePx4lF3vHzgLlbr8Kw5WRbmiLAoYzdVWH3dH0DV5B26wX0kWMq4RHTH43w80VMCGTXiafoslPdL2eCgEJczPys_8IbvIxTOdcM2H9jHB1Ua3wEgGyzfBBpDvlmtQEjBuSLSnUnaDRFr4IQxUEYuRXttZuUy3R13O_V1SjGC8ob2pz1QFyAdHRv6j0Mb7rJQ8LkW7O-8c1FVT6uxyOz6xO8QnOAXVKlpqVrVozMSOMVqaJ=s811-no?authuser=2" alt="dog-profile">
            <em>Tannen Hall, California</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">I am a 100th grade student at Pacific Ridge School. I love to learn, and to help teach others my knowledge!</h2>
            <img class="testimonial-image" src="images/tannen.jfif" alt="dog-profile">
            <em>Tannen Hall, California</em>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>

    </section>

    <hr class="hrMid">

    <div class="founders">
      <h1 class="foundersHeader">Our Founders:</h1>
      <ul class="founderList">
        <li class="founderListItem"><img class="founderImg" src="images/tannen.jfif"><p class="founderName">Tannen Hall</p></li>
        <li class="founderListItem"><img class="founderImg" src="images/tannen.jfif"><p class="founderName">Bryce Hamlet</p></li>
      </ul>
      <div class="founderReasonDiv">
        <p class="founderReasonText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet enim tortor at auctor urna nunc. Orci eu lobortis elementum nibh tellus molestie. Rhoncus mattis rhoncus urna neque. Nec nam aliquam sem et. Eget egestas purus viverra accumsan in. Neque convallis a cras semper auctor neque vitae tempus. Aliquam id diam maecenas ultricies mi eget mauris. Blandit libero volutpat sed cras ornare arcu dui vivamus. Dictum at tempor commodo ullamcorper. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Pulvinar sapien et ligula ullamcorper.</p>
      </div>
    </div>

    <div class="footer">
      <p class="footerText">Copyright Tut-Tut</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </body>
</html>
