<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <!-- css sheet -->
    <link rel="stylesheet" href="css/aboutUs.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a href="/"><img src="images/Logo.png" alt="" height="80" width="80" class="logo"></a>
        <a class="navbar-brand" href="/">Tut-Tut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item left-button">
              <a class="nav-link" href="">Contact Us</a>
            </li>
            <li class="nav-item mid-button">
              <a class="nav-link" href="">About our Tutors</a>
            </li>
            <li class="nav-item right-button ">
              <form action="/signup">
                <button type="submit" class="btn btn-primary shadow">Sign Up</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    <div class="parallax">
      <h1 class="tutTutHead">Tut-Tut</h1>
      <h1 class="missionStatement">Our goal is to offer completely free tutoring to <br> help your child achieve success</h1>
      <button type="button" class="btn btn-outline-light btn-lg signupButtonHeader">Meet our tutors</button>
    </div>

    <div class="whatIsTut-Tut">
      <h1 class="whatIsText">What is Tut-Tut?</h1>
      <p class="whatIsParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet enim tortor at auctor urna nunc. Orci eu lobortis elementum nibh tellus molestie. Rhoncus mattis rhoncus urna neque. Nec nam aliquam sem et. Eget egestas purus viverra accumsan in. Neque convallis a cras semper auctor neque vitae tempus. Aliquam id diam maecenas ultricies mi eget mauris. Blandit libero volutpat sed cras ornare arcu dui vivamus. Dictum at tempor commodo ullamcorper. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Pulvinar sapien et ligula ullamcorper. </p>
    </div>

    <div class="chalkboard">
      <p class="contact">contact us: <br> support@tut-tut.org</p>
    </div>

  </body>
</html>
