<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donation</title>
  </head>
  <body>
    <div id="CustomDonationsForm"></div>

<script>
  var LoadCDScripts = function () {
    var cdscript = document.createElement('script');
    cdscript.onerror = function (e) {
        document.head.removeChild(this);
        setTimeout(LoadCDScripts, 1750);
    };
    cdscript.onload = function () {
        CustomDonations.BuildForm({
        account: 'c8ac9d35-5328-4689-8a8e-c80badc5fb04',
        form: 'fd070786-140b-46ba-81d2-bc07c83aaf58',
        allocation: null, /* optional. Use an allocation ID, like 'AH664' (w/ quotes) to be default selected on form load */
        memberId: null, /* optional. If the current user is authenticated, you can insert their user ID, like '02943' (with quotes) */
        apiVersion: 'v1',
        interval: null, /* if null, then user must select one time or recurring (if enabled). Optionally can set to 'once', 'monthly','quarterly', or 'yearly' */
        loadingText: 'Loading Secure Form...',
        paymentVersion: 2, /*  1: for modal payment window. 2: for inline payment with Google/Apple Pay options */
        baseUrl: 'https://api.customdonations.com',
        mode: 'live', /* change to 'test' to run in test mode. Use card 4242 4242 4242 4242 for testing. */
      });
    };
    cdscript.src = "https://api.customdonations.com/v1/js/form-builder.min.js?v=" + new Date().getTime();
    document.head.appendChild(cdscript);
  }
  LoadCDScripts();
</script>
  </body>
</html>
