<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Etc</title>
  </head>
  <body>
    <form class="" action="/getEtc" method="post">
      <input type="text" name="aboutYourself" placeholder="A little about yourself and what you are looking for in a tutor">
      <input type="text" name="previousLearning" placeholder="Your learnings int he past">
      <input type="text" name="whatHelp" placeholder="What you need help with">
      <input type="text" name="time" placeholder="What time works for you">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
