<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Math</title>
  </head>
  <body>
    <form class="" action="/getMath" method="post">
      <input class="formField1" type="text" name="aboutYourself" placeholder="A little about yourself and what you are looking for in a tutor" required>
      <input type="text" name="previousLearning" placeholder="Your learnings int he past" required>
      <input type="text" name="whatHelp" placeholder="What you need help with" required>
      <input type="date" name="time" placeholder="What time works for you" required>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
