<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tut-Tut Reset Password</title>
    <style>
      .failure{
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Reset Password</h1>
    <form class="" action="/resetPasswordGuid" method="post">
      <p class="failure"><%=failure%></p>
      <input type="password" name="newPassword" value="" placeholder="New Password">
      <br>
      <input type="password" name="confirmNewPassword" value="" placeholder="Confirm Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password">
      <input type="hidden" name="guid" value="<%=guid%>">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
