<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tut-Tut Reset Password</title>
    <style>
      .failure{
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Reset Password</h1>
    <form action="/resetPassword" method="post">
      <p class="failure"><%=failure%></p>
      <input type="email" name="email" value="" placeholder="Email">
      <input type="submit" name="" placeholder="Submit">
    </form>
  </body>
</html>
