<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico" />
    <meta charset="utf-8">
    <title>TOS-PrivacyPolicy</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <link rel="stylesheet" href="/css/TOS-PrivacyPolicy.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:black|Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08afeeffcd.js" crossorigin="anonymous"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>


    <nav class="navbar main-nav navbar-expand-lg navbar-light bg-light fixed-top">
      <a href="/"><img src="images/Logo.png" alt="" height="80" width="80" class="logo"></a>
      <a class="navbar-brand" href="/">Tut-Tut</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mid-button">
            <a class="nav-link" href="/aboutUs">About</a>
          </li>
          <li>
            <a class="nav-link loginNav" href="/login">Login</a>
          </li>
          <li class="nav-item right-button ">
            <form action="/signup">
              <button type="submit" class="btn btn-primary shadow">Sign Up</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
<!--
    <nav class="navbar mobile-nav fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tut-Tut</a>
        </div>
        <li class="nav-item mobile-dropdown dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             More
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/aboutus">About</a>
             <a class="dropdown-item" href="/login">Login</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="/signup">Sign Up</a>
           </div>
         </li>
      </div>
    </nav> -->

    <div class="border">
      <div class="Text">
        <h4><b>TERMS AND CONDITIONS:</b></h4>
        <h5>The following terms and conditions (the "Terms and Conditions") govern your use of the Tut-Tut.org website (the “Website”).  By using the Website, you accept and agree to these terms and conditions as applied to your use of the Website.   Users under the age of eighteen (18) must review these Terms and Conditions with a parent or legal guardian to ensure the parent or legal guardian acknowledges and agrees to these Terms and Conditions.</h5>
        <h6><b>General Conditions</b></h6>
        <p>1.	Tut-Tut exists as a free online-only service to (a) aid students, their parents or other visitors to the Website in making contact with tutors and (b) give high school students an opportunity to give back by helping K-5 students in need of additional educational support. <br><br> 2.	Use of the Website is entirely at your own risk.  You accept that Tut-Tut is not responsible or liable for any harm or damage that may occur as a result.  It is strongly recommended that both students and tutors (and their parents and guardians) familiarize themselves with Tut-Tut’s safety recommendations. <br><br> 3.	Tut-Tut has the right to terminate or deny access to and use of the Website to any individual for any reason, in Tut-Tut’s sole discretion. <br><br> 4.	All communication between students and tutors must occur within the Tut-Tut platform or email. This includes all messages before, during, and after the tutoring lesson. <br><br> 5.	Tut-Tut aims to provide responsive and engaging support for questions, concerns and ideas. <br><br> 6.	Tut-Tut reserves the right, at its sole discretion, to modify any portion of these Terms and Conditions at any time. Changes in these Terms and Conditions will be effective when posted. Your continued use of the Website and/or the services offered on or through the Website after any changes to these Terms and Conditions are posted will be considered acceptance of those changes.</p>
        <h6><b>Information for Students (and their Parents/Guardians)</b></h6>
        <p>1.	When contacting a potential tutor through the Website, parents/guardians will be required to submit information in relation to themselves (or the student on whose behalf they are acting), including their email address.  In doing so, they expressly provide their permission for this information to be shared with Tut-Tut. <br><br> 2.	Parents and guardians agree to treat tutors with respect and not use obscenities in the online classroom or discuss personal matters other than those related to the subject for which you are seeking assistance for the student.  Personally-identifiable information should not be shared including full name, address, telephone number, email address, social security number or any other information that could be used to identify you or the student.  Similarly, solicitation of personal information from tutors is not permitted; you agree to report any violations of these terms to Tut-Tut immediately.</p>
        <h6><b>Information for Tutors (and their parents/guardian)</b></h6>
        <p>1.	Every prospective tutor is reviewed and screened by the Tut-Tut team.  Each applicant agrees to (i) authorize Tut-Tut to verify the educational institution at which he/she/they is/are currently attending, (ii) provide a copy of his/her/their current school ID,  (iii) provide school transcripts and (iv) submit to an intensive interview process. Only after approval is the tutor granted access to the Website and able to schedule tutoring sessions. <br><br> 2.	The Website may provide for reviews and/or ratings of tutors by students.  If a tutor feels that a review is unfair or not justified, he/she/they can ask Tut-Tut to ask for the review to be examined. Tut-Tut reserves the right to remove and/or edit any ratings and reviews as it deems fit. <br><br> 3.	Tutors agree to treat students (and their parents/guardians) with respect and not use obscenities in the online classroom or discuss personal matters. Personally-identifiable information should not be shared including full name, address, telephone number, email address, social security number or any other information that could be used to identify you.  Similarly, solicitation of personal information from students (and their parents/guardians) is not permitted; you agree to report any violations of these terms to Tut-Tut immediately.</p>
        <h6><b>Privacy and Security</b></h6>
        <p>1.	Tut-Tut is committed to providing its users with a safe and secure experience. We respect your privacy and have implemented industry-standard best practices to help keep your personal information safe whenever you use our service. <br><br>2. 	To combat internet fraud and common scams, Tut-Tut uses HTTPS encryption on all pages where you submit personal information. As an additional level of security, we encrypt all personal information in our system for safekeeping. <br><br>3.You can help keep Tut-Tut secure, too. Always keep your username and password safe and remember to close your internet browser after each visit to the site.</p>
        <h6><b>Limitation of Liability</b></h6>
        <p>IN NO EVENT, INCLUDING BUT NOT LIMITED TO NEGLIGENCE, WILL WE OR ANY OF OUR DIRECTORS, OFFICERS, EMPLOYEES, AGENTS OR CONTENT OR SERVICE PROVIDERS (INCLUDING TUTORS) (COLLECTIVELY, THE "PROTECTED ENTITIES") BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING FROM, OR DIRECTLY OR INDIRECTLY RELATED TO, THE USE OF, OR THE INABILITY TO USE, THE WEBSITE OR THE CONTENT, MATERIALS, PRODUCTS, SERVICES, AND FUNCTIONS RELATED TO THE WEBSITE, YOUR PROVISION OF INFORMATION VIA THE SITE, EVEN IF SUCH PROTECTED ENTITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO CERTAIN USERS TO THE EXTENT REQUIRED BY APPLICABLE LAW.</p>


      </div>
    </div>

  </body>
</html>
