

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500&display=swap');
body{
  background: #fafafa;
}

::-webkit-scrollbar {
    display: none;
}

/* NAVBAR */


.navbar-brand{
  font-size: 1.7rem;
  padding-left: 10px;
}

.tableHeader{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  text-align: left;
}

.tables{
  padding-top: 50px;
}

h1{
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(0, 0, 0,0.0);
 }
 .tbl-header1{
   background-color: rgba(0, 0, 0,0.0);
  }
.tbl-content{
  height:345px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0,0.3);
  border-radius: 0 0 10px 10px;
  background: #ffffff;
}
.tbl-content-form{
  height: 300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0,0.3);
  border-radius: 0 0 10px 10px;
  background: #ffffff;
}
th{
  padding: 15px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

tr{
  padding: 15px 15px;
  text-align: left;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  border-bottom: solid 1px rgba(0, 0, 0,0.1);
}

tr:hover:not(.headTR){
  background: #fafafa;
}

.btn-primary:hover{
  background-color: #026ad9 !important;
}

thead{
  border: 1px solid rgba(0, 0, 0,0.3);
  border-bottom-style: none;
  border-collapse: separate;
  border-radius: 10px;
  background: rgb(0, 123, 255);
}

.widthOfTable{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.headTR{
  border-radius: 10px;
}

.requestTutorNav{
  padding-right: 10px;
}

.nav-link{
  color: white !important;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: #e6e6e6
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

.navbar-dark{
  background-image: url("chalkboard.jpg");
  background-position: center;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* DROPDOWN */



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  font-size: 15px;
  height: 50px;
}

.dropDownButtonText{
  position: relative;
  top: 5px;
}

.collapsableDiv{
  width: 100%;
  height: auto;
  text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */


.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  position: relative;
  border-style: none;
  border-width: 2px;
  height: auto;
}


.mainBody{
  padding-top: 150px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


.form-border{
  margin: 20px 12% 10px 17%;
}

.form-border2{
  margin: 20px 10% 10px 9%;
}

.formTable{
  padding: 10px 10%;
}


.formText{
 display: inline-block;
 text-align: right;
 font-weight: 500;
}

.formText1{
 display: inline-block;
 text-align: right;
 margin-bottom: 0;
}

.formTextInput{
  width: 100%;
  text-align: left;
}
.formTextInput5{
  width: 100%;
  text-align: left;
  height: 370px;
}

.formTextInput20{
  width: 100%;
  text-align: left;
  height: 300px;
}

.formField1{
  position: absolute;
  right: 20%;
  width: 50%;
}

@media all and (max-width: 1450px) {
  .content{
    width: 70% !important;
  }
}

#timeZone{
  max-height:50px;
   overflow:scroll;
}

.timeZoneDrop{
  max-height: 50px;
}

.highlight { background-color: rgb(66, 135, 245, 0.5) !important; }

#dd1{
  padding-bottom: 20px;
}

.formWelcome{
  padding-top: 20px;
}

.submitRequestTutor{
  margin-bottom: 15px;
}

.invHr{
  visibility: hidden;
}

.wholeTable{
  position: relative;
  left: 18.8%;
  bottom: 34px;
}

/* .dateTr{
  padding: 15px 15px 15px 25px;
}

.tutorTr{
  padding:
  text-align: right;
} */


.subjectd{
  display: none;
}

.tutorSessionsTable{
  height: 100px !important;
}

.tutorSessionTD{
  font-weight: 400;
  font-size: 0.8rem;
}

.ourTutorNav{
  margin-right: 20px;
  margin-left: 10px;
}

.tutorSessionTR{
  height: 50px;
}

#describeTopic{
  position: relative;
  width: 100%;
}
