body{
  padding-top: 80px;
  overflow-x: hidden; //horizontal
}

.container-fluid{
  padding: 0;
}

.btn-primary{
  background-color: #f73859;
  border: none;
}


.navbar{
  height: 10%;
  border-bottom: 1px solid #e9eaea;
}

.logo{
  margin-right: 15px;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.floatingNav {
  box-shadow: 0px 1px 10px #999;
}

.slogan{
  text-align: center;
  font-size: 3.5rem;
  margin: 3% 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .15rem;
  margin-top: 3%;
  margin-bottom: 0;
}

.slogan1{
  text-align: center;
  font-size: 2.5rem;
  margin: 0.5% 0 1.5% 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .15rem;
  color: red;
}

.half-width-img{
  width: 50%;
  height: auto;
  float: left;

}
.half-width-img1{
  width: 50%;
  height: auto;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
    background: none;
}

.tint:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: background .3s linear;
}

.bg-light{
  background-color: #fff!important;
}

.imgBut{
  position: absolute;
  bottom: 0;
  left: 0;
}



.homepage-signup__button {
    position: absolute;
    top: 900px;
    left: 20%;
}

.homepage-signup__button2 {
    position: absolute;
    top: 900px;
    left: 75%;
}

.parallax {
  /* The image used */
  background-image: url("classroom.jpg");

  /* Set a specific height */
  min-height:400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.signupButtonHeader{
  margin-bottom: 30px;
  width: 30%;
}

.tutTutHead{
  padding-top: 100px;
  color: #fff;
}

.tutorName{
  display: none;
}

.missionStatement{
  padding-top: 15px;
  color: #fff;
  font-size: 2.3rem;
}

.mobile-nav{
  display: none;
}

@media (min-width:1681px) {
  .parallax{
    display: none;
  }
}
@media (max-width:1680px) {
  .homepage-signup__button {
    top: 845px !important;
  }
  .homepage-signup__button2 {
      top: 845px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1550px) {
  .homepage-signup__button {
    top: 810px !important;
  }
  .homepage-signup__button2 {
      top: 820px !important;
  }
  .parallax{
    display: none;
  }
  .tutoredSubText{
    display: none;
  }
  .tutoredSubText1{
    display: none;
  }
  .overlay{
    display: none;
  }
  .overlay1{
    display: none;
  }
}
@media (max-width:1486px) {
  .homepage-signup__button {
    top: 770px !important;
  }
  .homepage-signup__button2 {
      top: 770px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1364px) {
  .homepage-signup__button {
    top: 730px !important;
  }
  .homepage-signup__button2 {
      top: 730px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1290px) {
  .homepage-signup__button {
    top: 650px !important;
  }
  .homepage-signup__button2 {
      top: 650px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1110px) {
  .homepage-signup__button {
    top: 590px !important;
  }
  .homepage-signup__button2 {
      top: 590px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1000px) {
  .homepage-signup__button {
    top: 730px !important;
  }
  .homepage-signup__button2 {
      top: 730px !important;
  }
  .parallax{
    display: none;
  }
}
@media (max-width:1000px) {
  .Section1{
    display: none;
  }
  .parallax{
    display: block;
  }
}
@media (max-width:790px) {
  .main-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .slogan{
    font-size: 2rem;
  }
  .slogan1{
    font-size: 1.5rem;
  }
  .missionStatement{
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .honorRole{
    font-size: 1.4rem;
  }
  .Section2{
    height: 60px !important;
  }
  .testimonial-text{
    font-size: 1.3rem !important;
  }
  .testimonial-image{
    width: 30% !important;
  }
  .tutorNameAndState{
    display: none;
  }
  .tutorName{
    display: block;
  }
}

@media (max-height:500px) {
  .navbar{
    height: 12%;
  }
}

.overlay{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #f73859;
  opacity: 0;
}

.overlay1{
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: #f73859;
  opacity: 0;
}

.overlay:hover {
    opacity: .8;
    transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
.overlay1:hover {
    opacity: .8;
    transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.btn-lg{
  border-radius: 0;
  padding: 10px 15px;
}

.btn-dark{
  background-color: #f73859 !important;
  border-color: #f73859 !important;
}
.btn-dark:hover {
  background-color: #d92746 !important;
}

.tutoredSubText{
  position: absolute;
  left: 13%;
  top: 80%;
  color: white;
  opacity: 0;
}

.tutoredSubText1{
  position: absolute;
  right: 13%;
  top: 80%;
  color: white;
  opacity: 0;
}

.show{
  opacity: 1 !important;
  user-select: none; /* Standard */
}


.Section2{
  height: 100px;
line-height: 100px;
text-align: center;
margin-top: 3%;
}

.tutoringYouCanTrustFooter{

}

.honorRole{
  font-family: 'Montserrat', sans-serif;
}

/* .Section3 {
  background-color: #00a8cc;
  padding: 3% 10%;
}

*/



/* Testimonials */

#testimonials {
  padding: 2% 15%;
  text-align: center;
  background-color: rgb(0, 123, 255);
  color: #fff;
}



.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #00a8cc;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-text{
  font-family: "Montserrat";
  font-size: 2.2rem;
}


/* trust section */

#pricing {
  padding: 50px 230px 100px 230px;
  text-align: center;
}

@media only screen and (max-width: 1501px) {
  #pricing{
    padding: 50px 0 100px 0;
    text-align: center;
  }
}

.card-header{
  background-color: #fafcff;
}

.cardHeadText{
  color: black;
}

.card{
  border: 1px solid rgba(0,0,0,.3) !important;
}


.card-body{
  text-align: left;
  padding-top: 7px;
}

.fa-apple-alt{
  padding-right: 10px;
}

.price-box {
  padding: 3% 2%;
}
.price-text{
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.learnTutor{
  text-align: center;
}


/* our solution */

.ourSolution{
  height: 600px;
}

.ourSolutionTitle{
  margin-bottom: 5%;
  text-align: center;
  color: white;
}

.number1{
  float: left;
  margin-left: 25%;
  font-size: 4rem;
}

.number1Text{
  position: relative;
  top: 30px;
  right: 500px;
  font-size: 1.5rem;
}



/* List */

ol {
  list-style: none;
}

.mobile-dropdown{
   list-style-type: none;
}

ol li {
  margin-left: 200px;
  font: bold 35pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
  margin-left: 60px;
  margin-bottom: 110px;
  font: 15pt helvetica, arial, sans-serif;
  padding-left: 60px;
}

span {
  position: absolute;
  line-height: 25px;
}

.footer{
  text-align: center;
  background: rgb(0, 123, 255);
  color: white;
  margin-top: 2%;
}

.footerText{
  padding: 2% 10%;
}
